

html, body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
	
 /* fallback */ background-color: #061920; background: url(images/linear_bg_2.png); background-repeat: repeat-x;
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #061920, #040B11);
   /* IE 10 */ background: -ms-linear-gradient(top, #061920, #040B11);
  

	
	
}
